.ONavigation {
	font-size: 14px;
	text-align: left;
	color: #0094C2;
}

.OSummit {
	background-color: #00A0D1;
	color: white;
	text-align: center;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding: 3px 20px;
}

.OMessage {
	color: red;
	text-align: center;
	font-size: 14px;
}

.OAuthToken h1 {
	font-size: 18px;
	color: black;
	text-align: center;
	font-weight:bold;
}

.OAuthToken a {
	font-size: 12px;
	color: blue;
	text-align: center;
	font-weight:bold;
}

.help a {
	background-image: url("../image/help.png");
}
